.img {
  position: relative; }

.imgTwitter {
  position: relative; }

.box {
  position: absolute;
  top: 90rem;
  left: 75rem;
  z-index: 6; }
  @media only screen and (min-width: 112.5em) {
    .box {
      top: 60rem;
      left: 45rem; } }
  @media only screen and (max-width: 75em) {
    .box {
      top: 100rem;
      left: 85rem; } }
  @media only screen and (max-width: 68.75em) {
    .box {
      top: 100rem;
      left: 80rem; } }
  @media only screen and (max-width: 56.25em) {
    .box {
      top: 110rem;
      left: 90rem;
      width: 30rem; } }
  @media only screen and (max-width: 37.5em) {
    .box {
      top: 130rem;
      left: 110rem;
      width: 40rem; } }
  @media only screen and (max-width: 31.25em) {
    .box {
      top: 110rem;
      left: 80rem;
      width: 40rem; } }

.boxTwitter {
  position: absolute;
  top: 95rem;
  left: 70rem;
  z-index: 6; }
  @media only screen and (min-width: 112.5em) {
    .boxTwitter {
      top: 60rem;
      left: 40rem; } }
  @media only screen and (max-width: 75em) {
    .boxTwitter {
      top: 105rem;
      left: 75rem; } }
  @media only screen and (max-width: 68.75em) {
    .boxTwitter {
      top: 105rem;
      left: 75rem; } }
  @media only screen and (max-width: 56.25em) {
    .boxTwitter {
      top: 115rem;
      left: 85rem;
      width: 30rem; } }
  @media only screen and (max-width: 37.5em) {
    .boxTwitter {
      top: 145rem;
      left: 110rem;
      width: 30rem; } }
  @media only screen and (max-width: 31.25em) {
    .boxTwitter {
      top: 115rem;
      left: 80rem; } }

.boxWhatsApp {
  position: absolute;
  top: 320%;
  left: 35%;
  z-index: 6; }
  @media only screen and (min-width: 112.5em) {
    .boxWhatsApp {
      left: 25rem; } }
  @media only screen and (max-width: 75em) {
    .boxWhatsApp {
      left: 50rem; } }
  @media only screen and (max-width: 68.75em) {
    .boxWhatsApp {
      left: 50rem; } }
  @media only screen and (max-width: 56.25em) {
    .boxWhatsApp {
      left: 50rem; } }
  @media only screen and (max-width: 37.5em) {
    .boxWhatsApp {
      left: 70rem;
      width: 30rem; } }
  @media only screen and (max-width: 31.25em) {
    .boxWhatsApp {
      top: 190rem;
      left: 60rem; } }

.name {
  font-size: 4rem;
  color: #266b3d;
  font-weight: 500; }
  @media only screen and (max-width: 37.5em) {
    .name {
      font-size: 9rem; } }
  @media only screen and (max-width: 31.25em) {
    .name {
      font-size: 9rem; } }

.twitterp {
  font-size: 4rem;
  color: black;
  font-weight: 500;
  z-index: 6; }

.container {
  overflow: auto;
  width: fit-content;
  height: 50%; }

.form {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.input {
  width: 90vh;
  outline: none;
  border: 1px solid gray;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  text-align: right;
  margin-right: 1rem; }

.button {
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #975ab7;
  border: none;
  border-radius: 2rem; }

.select {
  margin-right: 0.5rem;
  padding: 0.5rem 0.3rem;
  border-radius: 2rem; }

.logo {
  height: 1em;
  display: flex;
  justify-content: center; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efefef;
  padding-left: 1rem;
  width: 100%;
  flex-basis: 0; }
  @media only screen and (max-width: 31.25em) {
    .header {
      width: 100%; } }
