@import "./variable.scss";
.img {
  position: relative;
}
.imgTwitter {
  position: relative;
}
.box {
  position: absolute;
  top: 90rem;
  left: 75rem;
  z-index: 6;
  @media only screen and(min-width:$bp-huge) {
    // 75
    top: 60rem;
    left: 45rem;
  }
  @media only screen and(max-width:$bp-largest) {
    // 75
    top: 100rem;
    left: 85rem;
  }
  @media only screen and(max-width:$bp-large) {
    // 75
    top: 100rem;
    left: 80rem;
  }
  // does not work
  @media only screen and(max-width:$bp-meduiam) {
    //56
    // background-color: yellow;
    top: 110rem;
    left: 90rem;
    // transform: translate(50%,50%);
    width: 30rem;
  }
  @media only screen and(max-width:$bp-small) {
    //37
    top: 130rem;
    left: 110rem;
    width: 40rem;
  }
  @media only screen and(max-width:$bp-smallest) {
    // 31
    // top: 330%;
    top: 110rem;
    left: 80rem;
    width: 40rem;
  }
}
.boxTwitter {
  position: absolute;
  // top: 170%;
  top: 95rem;
  left: 70rem;
  z-index: 6;
  @media only screen and(min-width:$bp-huge) {
    // 75
    top: 60rem;
    left: 40rem;
  }
  @media only screen and(max-width:$bp-largest) {
    // 75
    top: 105rem;
    left: 75rem;
  }
  @media only screen and(max-width:$bp-large) {
    // 75
    top: 105rem;
    left: 75rem;
  }
  // does not work
  @media only screen and(max-width:$bp-meduiam) {
    //56
    // background-color: yellow;
    top: 115rem;
    left: 85rem;
    // transform: translate(50%,50%);
    width: 30rem;
  }
  @media only screen and(max-width:$bp-small) {
    //37
    top: 145rem;
    left: 110rem;
    width: 30rem;
  }
  @media only screen and(max-width:$bp-smallest) {
    // 31
    // top: 330%;
    top: 115rem;
    left: 80rem;
    // width: 30rem;
  }
}
.boxWhatsApp {
  position: absolute;
  top: 320%;
  // top:185rem;
  left: 35%;
  z-index: 6;
  @media only screen and(min-width:$bp-huge) {
    // 75
    // top: 250%;
    left: 25rem;
  }
  @media only screen and(max-width:$bp-largest) {
    // 75
    // top: 250%;
    left: 50rem;
  }
  @media only screen and(max-width:$bp-large) {
    // 75
    // top: 250%;
    left: 50rem;
  }
  // does not work
  @media only screen and(max-width:$bp-meduiam) {
    //56
    // background-color: yellow;
    // top: 190%;
    left: 50rem;
    // transform: translate(50%,50%);
    // width: 30rem;
  }
  @media only screen and(max-width:$bp-small) {
    //37
    // top: 330%;
    left: 70rem;
    width: 30rem;
  }
  @media only screen and(max-width:$bp-smallest) {
    // 31
    // top: 330%;
    top: 190rem;
    left: 60rem;
    // width: 30rem;
  }
}
.name {
  @media only screen and(max-width:$bp-small ) {
    font-size: 9rem;
  }
  @media only screen and(max-width:$bp-smallest ) {
    font-size: 9rem;
  }
  font-size: 4rem;
  color: #266b3d;
  font-weight: 500;
  // top:70vw;
  // left:55vw;
  // @media only screen and (max-width: $bp-largest) {
  //     left: 65%;
  //     font-size: 4rem;
  //    top:80%
  //   }
  //   @media only screen and(max-width:$bp-meduiam){
  //     left: 90%;
  //     font-size: 4rem;
  //    top:75%
  //   }
}

.twitterp {
  font-size: 4rem;
  color: black;
  //   position: absolute;
  font-weight: 500;
  //   top: 150%;
  //   left: 50%;
  z-index: 6;
}

.container {
  overflow: auto;
  width: fit-content;
  height: 50%;
}
.form {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  flex-grow: 0;
}
.input {
  width: 90vh;
  outline: none;
  border: 1px solid rgb(185, 183, 183);
  padding: 1rem 4rem;
  border-radius: 2rem;
  text-align: right;
  // margin-right: 1rem;
}
.button {
  padding: 1rem 4rem;
  color: #fff;
  background-color: #336A2E;
  border: none;
  border-radius: 2rem;
}
.select {
  // margin-right: 0.5rem;
  padding: 1rem .5rem;
  border-radius: 2rem;
  outline: none;
  border: none;
}
.header{
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: #E6F4EA;
  padding-left: 1rem;
  width: 100%;
  flex-shrink: 0;
}
.logo {
  height: 1em;
  display: flex;
  justify-content: center;
}